<header>
    <div class="header-img">
        <img src="/image/restaurant.png" alt="Restaurant logo">
    </div>

    <h1 class="title"><a href="/">Dishes Management System</a></h1>
    <p class="sub-title">(for manager)</p>
</header>