{{> header}}


<div class="left">
    {{> sidebar}}
</div>

<div class="right">
    {{> dishes}}
</div>


<button id="add-new-dish" class="success-btn">
    <i class="fas fa-plus-square"></i>
    Add Dish
</button>